div#hd-inner {
    background: url(../images/hd-bkg_blue.gif) repeat-x 0 0 #86c0dc;
}
div#logo {
    background: url(../images/logo.png) no-repeat 0 0;
    width: 250px;
}
a.active span {
    color: #70b7d5;
}