div#hd-inner {
    background: url(../images/hd-bkg_blue.gif) repeat-x 0 0 #86c0dc;
}
div#logo {
    background: url(../images/entryway-logo.gif) no-repeat 0 0;
}
a.active span {
    color: #70b7d5;
}