div#hd-inner {
    background: url(../images/hd-bkg_green.gif) repeat-x 0 0 #75a743;
}
div#logo {
    background: url(../images/entryway-logo-green.gif) no-repeat 0 0;
}
a.active span {
    color: #75a743;
}