html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Myriad Pro", Arial, "MS Trebuchet", sans-serif;
  background-color: #fffcf1; /* Off White */
  width: 100%;
  min-width: 960px;
}
h1 {
  font-size: 3.5em;
  color: #545146;/*Medium Brown*/
  font-weight: normal;
}
h2 {
  font-style: italic;
  font-size: 3em; 
  color: #1d1c18;/*Dark Brown*/
}
h3 {
    font-size: 2em; 
    color: #85806f;/*Light Brown*/
    margin: 0;
    padding: 0;
}
h4 {
  font-size: 1.3em;
  font-weight: bold;
  color: #1d1c18;/*Dark Brown*/
  margin: 0;
  
}
h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: #A12800;/*Deep Red*/  
}
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #1d1c18;/*Dark Brown*/
  margin-top: .5em;
}
img {
  border: none;
}
a {
  font-size: 1em;
  text-decoration: none;
  color: #6ba6bb;/*Brand Blue*/
}
a:active{
  
}
a:hover{
  text-decoration: underline;
}
ul{
  
}
ol{
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #1d1c18;/*Dark Brown*/
}
li {
  list-style-type: none;
}
input {
  margin: .5em 0;
  padding: .3em;
  display: block;
}
textarea {
}
submit {
  
}
hr {
  color: #1d1c18;/*Dark Brown*/
}
div.content {
  padding: 0 4em 1em 4em;
  float: left;
  width: 100%;
}
div.content p{
  width: 662px;
}
/*Header*/
div.header {
  background-color: #1d1c18; /*Dark Brown*/
  float: left;
  width: 100%;
}
div.logo {
  float: left;
  background: transparent url(../images/splash/logo.png) no-repeat 0 0;
  height: 12em;
  width: 35%;
  text-indent:-9000px;
  margin-left: 3em;
}
div.logo h1 {

}
div.nav-right {
  float: right;
  text-align: right;
  background: transparent url(../images/lines-dots.png) no-repeat 0 20px;
  height: 85px;
}
div.top-nav {
  padding-right: 3em;
  float: right;
}
div.top-nav a{
  background-color: #545146;/*Medium Brown*/
  font-size: 1.3em;
  padding: .2em 1.1em;
  color: #fffcf1; /* Off White */
}
div.top-nav a:hover{
  background-color: #85806f;/*Light Brown*/
  color: #1d1c18;/*Dark Brown*/
  text-decoration: none;
}
div.main-nav {
  margin-top: 9.5em;
}
div.main-nav a{
  font-size: 1.8em;
  padding: 0 2em;
}
div.main-nav a:hover {
  text-decoration: none;
  color: #fffcf1; /* Off White */
}
div.main-nav a.active {
  color: #fffcf1; /* Off White */
}

/*   Branding  */

div.branding {
  clear: both;
  background:  url(../images/bg-blue.gif) repeat-x 0 0;  
}
div.what {
  float: left;
  width: 25%;
  margin-top: 2em;
}
ul.products {
  padding: 0;
  
}
ul.products li{
  margin: 0 0 1.8em 0;
  width: 80%;
}
ul.products li a {
  display: block;
}
ul.products li a:hover {
  background-color: #85806f;/*Light Brown*/
  text-decoration: none;
}
ul.products li a:hover h3{
  color: #fffcf1; /* Off White */
}
div.overview {
  float: right;
  width: 75%;
}
div.overview img{
  margin-bottom: 1em;
  border: 3px solid #6ba6bb;/*Brand Blue*/
}
div.overview h1{
  width: 664px;
  margin: .5em 0;
}
div.link-bar {
  clear: both;
}
div#red {
  background: #A12800;/*Deep Red*/
}
div#orange {
  background: #FFA300;/*Bright Orange*/
}
div#green {
  background: #6F8924;/*Bright Green*/
}
div#blue {
  background: #6ba6bb;/*Brand Blue*/
}
div.link-bar a{
  display: block;
  text-align: right;
  padding: 1em;
  background: url(../images/lines-dots.png) no-repeat -60px 5px;
  color: #fffcf1; /* Off White */
  font-size: 1.5em;
  height: 15px;
}
div.link-bar a:hover{
  background: url(../images/lines-dots.png) no-repeat -60px -73px;
  height: 15px;
}
/* Feature */
div.feature{
  clear:both;
  width: 100%;
  background:  url(../images/splash/fade-grey-bg.png) repeat-x bottom left;
  
}
div.shadow{
  background:  url(../images/splash/shadow.png) no-repeat 5px -26px ;
  width: 100%;
  height: 27px;
}
div.feat-info {
  float: left;
  width: 20%;
  
}
div.feat-info p {
  width: 200px;
}
div.feat-info a {
  font-size: 1.5em;
  color: #FFA300; /*Orange*/
}
div.feat-slides {
  float: right;
  width: 75%;
}
ul.slides-nav {
  float: left;
  text-align: center;
  padding: 1em;
  margin: 0;

}
ul.slides-nav li{
  display: block;
  float: left;
}
ul.slides-nav li a{
  display: block;
  background: transparent url(../images/splash/arrows.png) no-repeat 0 0;
  width: 18px;
  height: 18px;
}
ul.slides-nav li.left-arrow {
  padding-right: 23em;
}
ul.slides-nav li.left-arrow a{
  background-position: 0 0;  
}
ul.slides-nav li.left-arrow a:hover{
  background-position: 0 -18px;
}
ul.slides-nav li.bullet {
  padding-right: 2em;
}
ul.slides-nav li.bullet a{
  background-position: 0 -36px ;
}
ul.slides-nav li.bullet a:hover{
  background-position: -16px -36px;
}
ul.slides-nav li.bullet a.active{
  background-position: -16px -36px;
}
ul.slides-nav li.right-arrow {
  padding-left: 23em;
}
ul.slides-nav li.right-arrow a{
  background-position: -18px 0;
}
ul.slides-nav li.right-arrow a:hover{
  background-position: -18px -18px;
}
div.feat-slides img {
  clear: left;
  display: block;
  border: 3px solid #FFA300;
  margin-bottom: 1em;
}


/*  Layout */

/*  Process   */ 

div.process {
  clear: both;
  width: 100%;
}
div.diagram {
  clear: both;
  float: left;
  width: 20%;
  
}
div.diagram img {
  border: 3px solid #A12800;/*Deep Red*/
  margin-top: 2em;
}
div.agile {
  float: right;
  width: 75%;
}
/*  Team  */
div.team {
  width: 100%;
  clear: both;
}
div.pics {
  clear: both;
  float: left;
  width: 25%;
  height: 250px;
}
img.big {
  border: 3px solid #6F8924;/*Bright Green*/
}
div.pics a {
  margin: 1em 1.4em 0 0;
  display: block;
  float: left;
  padding: 0 .4em;
  
}
div.pics a:hover {
  border-bottom: 3px solid #6F8924;/*Bright Green*/
  
}
div.info {
  float: right;
  width: 75%;
}

/*  Footer */

div.footer {
  width: 100%;
  clear: both;
  background: #1d1c18 url(../images/bg-brown.gif) repeat-x 0 0; 
  float: left;
}
div.footer ul {
  float: left;
  margin: 2em;
  width: 100%;
}
div.footer ul li {
  float: left;
  width: 33%;
}
div.footer h3{
  border-bottom: 2px dotted #85806f;/*Light Brown*/
  width: 80%;
  margin-bottom: .5em;
}
div.footer p {
  color: #fffcf1; /* Off White */
  width: 80%;
  
}
div.footer blockquote {
  color: #fffcf1; /* Off White */
  width: 80%;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}
#twtr-widget-1 .twtr-avatar {
display:block;
}

li.twtr img{
  clear: left;
  display:block;
  float:left;
  padding: .2em;
  display: block;
}
li.twtr p {
  
  
}
div.marquee {
  background-color: #1d1c18;
}
div.marquee h2{
  color: #fffcf1; /* Off White */
  
}


/*************** Internal Pages *****************/

/*  Services  */

div.services {
  clear: both;
  width: 100%;
  background: #fffcf1 url(../images/bg-blue.gif) repeat-x 0 0;
  float: left;
}
div.sidebar {
  margin: 1em 3em;
  width: 30%;
  float: left;
}
div.services .sidebar img {
  margin: 0 .3em 1em 0;
  border: 3px solid #6ba6bb;/*Brand Blue*/
  float: left;
}
div.services .sidebar p {
  clear: left;
}
div.divider {
  background: transparent url(../images/splash/divider.png) no-repeat bottom left;
  width: 68px;
  height: 960px;
  float: left;
}
div.div-green{
  background: transparent url(../images/splash/div-green.png) no-repeat 0 0;
  width: 68px;
  height: 960px;
  float: left;
}
div.main {
  margin: 1em 4em;
  width: 45%;
  float: left;
}
div.main img.icon {
  float: left;
  width: 48px;
  height: 48px;
}
div.services div.main h3 {
  padding: 24px 0 0 50px;
}
/*
div.main h3#terminal {
  background: transparent url(../images/splash/terminal.png) no-repeat 0 0;
}
div.main h3#browser {
  background: transparent url(../images/splash/browser.png) no-repeat 0 0;
}
div.main h3#iphone {
  background: transparent url(../images/splash/iphone.png) no-repeat 0 0;
}
div.main h3#desktop {
  background: transparent url(../images/splash/desktop.png) no-repeat 0 0;
}*/

/* About */
div.about {
  clear: both;
  float: left;
  background: #fffcf1 url(../images/bg-green.gif) repeat-x 0 0;
  min-width: 960px;
}
div.people img{
  margin: 0 .3em 1em 0;
  border: 3px solid #6F8924;/*Bright Green*/;
  float: left;
  width: 145px;
}
div.people-description p {
  clear: left;
}
div.people-links {
	float: left;
}
div.people-links a {
	text-decoration: none;
}
div.people-links h3 {
	color: #2f2f2f;
}
div.people-linkbox {
	background: url(../images/splash/link-box-bg.png) no-repeat 0 0;
	padding: 4px 0;
	width: 536px;
	height: 26px;
}
div.people-linkbox img {
	margin: 0 5px 5px 25px;
	vertical-align: middle;
}
div.people-linkbox p {
	padding: 7px 0 0;
	line-height: 80%;
	font-size: 14px;
}
div.people-links {
	float: left;
	margin: 0 0 30px;
}

div.content-photo {
  float: left;
  padding: 0 1em 1em 0;
}

/* Portfolio */
div.portfolio {
  clear: both;
  float: left;
  width: 100%;
  background: #fffcf1 url(../images/bg-orange.gif) repeat-x 0 0;
  min-width: 960px;
  padding: 0 3em;
}
div.intro h2 {
  width: 100%;
  background: transparent url(../images/splash/divider-half.png) no-repeat top right;
  height: 70px;
  margin: 0;
  margin-top: 1em;
}
div.intro p {
  width: 50%;
}
div.piece {
  clear: both;
  float: left;
  width: 100%;
}
div.description {
  float: left;
  width: 30%;
}
div.portfolio .feat-slides {
  width: 65%;
}
div.divider-hz {
  clear: both;
  background: transparent url(../images/splash/divider-ht.png) no-repeat 0 0;
  height: 40px;
  margin: 3em 0;
  width: 100%;
}
div#final{
  clear: both;
  background: transparent url(../images/splash/divider-hz.png) no-repeat 0 0;
  height: 70px;
  margin: 1em 0;
}
