div#hd-inner {
    background: url(../images/hd-bkg_orange.gif) repeat-x 0 0 #d06834;
}

div#logo {
    background: url(../images/entryway-logo-orange.gif) no-repeat 0 0;
}

a.active span {
    color: #d06834;
}
