div#hd-inner {
    background: url(../images/hd-bkg_orange.gif) repeat-x 0 0 #d06834;
}

div#logo {
    background: url(../images/logo.png) no-repeat 0 0;
    margin-top: 13px;
    
}

a.active span {
    color: #d06834;
}

