<!-- sidebar -->
<div class="sidebar">

  <!-- contact box -->
  <div class="contact-box">
    <div class="contact-box-content">
      <h3>Let&#8217;s Talk</h3>

      <p><strong>Call</strong> : 888-595-4227<br />
	<strong>Email</strong> : <a href="">hello@entryway.com</a><br />
	<strong>Twitter</string>: 
</p>
<a href="http://www.twitter.com/entryway">Follow Us</a>
<img src="/images/twitter-bird.png"></img></p>

<!--<h3>Tap Our Thinking</h3>
<p>Insights, current tech, rants and raves...<br />
  our monthly newsletter has it all!</p>-->


</div>
</div>

<!-- Lettuce Deliver -->
<div class="lettuce-box">
  <div class="lettuce-box-content">
    <h3>Lettuce Deliver!</h3>

    <p>Entryway collaborated with<br /><strong>Greenlings</strong>, a PC Magazine Tech Top 100, to design and deliver cutting edge order fullfillment applications. </p>
    
    <p><a href="">See how we can help deliver your ideas!</a></p>
  </div>
</div>

<!-- iphone green box -->
<div class="iphone-gray">
  <div class="iphone-gray-content">
    <img src="images/iphone-pic-gray.gif" alt="iPhone" width="63" height="51" />
    
    <h4><a href="">IPhone Apps:<br /></a></h4>
    <br/>
    <p><a href="">You Dream It. We Can Do It.</a></p>
  </div>
</div>
</div><!-- /sidebar -->
