<div id="feature-text" class="clear">
  <h1 class="cushycms" title="lead-in heading">Your Ideas Deserve a Positive Solution</h1>
 
  <p class="cushycms" title="lead-in paragraph">From idea to implementation, your vision combined with our custom development will succeed. Using cutting edge tools we deliver the results your creative vision deserves. Our applications for the <a href="#">web, desktop, and iPhone </a>are personalized and <a href="#"> tailored to fit your business needs.</a></p>
</div>
