
 <div id="footer">
   <div id="footer-wrap" class="">

         <div id="testimonials" class="footer-col">
           <h3>Testimonials</h3>
           <p>"Entryway has been the best web development company I’ve ever worked with or even
             heard about." -- <a href="/process.html">Mason Arnold (Greenling Organic Delivery)</a>
           </p>
           <p>"I am 100% pleased with your work, our interactions, and know we will have a continuing working relationship for some time to come." -- <a href="/process.html">Dr. Stephen Bavolek (Family Development)</a>
           </p>
           <br/>
           <h3 id="floyd">Floyd - Where?</h3>
           <p><a href="http://www.visitfloyd.org">Floyd</a> is a rural community nestled in the Blue Ridge Mountains of Virginia. This one-stop-light town has a surprising amount of community and culture. This, together with the well established arts community and emerging artisan-agriculture based businesses make for a lively sense of growth and energy.
           </p>
         </div>

         <div id="twitter" class="footer-col">
           <h3>Tweets</h3>
           <div id="entryway-tweet" class="tweet"></div>
           <div id="gustin-tweet" class="tweet"></div>
           <div id="bobby-tweet" class="tweet"></div>
           <div id="katie-tweet" class="tweet"></div>
         </div>

         <div id="contact" class="footer-col">
           <h3>Contact Us</h3>
           <img src="/images/logo-footer.png"/>
           <p>109 E. Main Street<br/>
           Floyd, Virginia 24091<br/>
           888-595-4227</p>
         <p>
           <a href="mailto:hello@entryway.net?subject=Web%20Visitor">
             hello@entryway.net
           </a>
           <br/><br/>
           <a href="http://www.twitter.com/entryway">
             <img src="images/twitter-follow-me.png"/>
             Follow us on twitter
           </a>
           <br/>
         </p>            
         </div>          

   </div><!--footer-dots-->
 </div><!--footer-->
