<!-- nav box -->
<div id="nav-box">
  <!-- util nav -->
  <div id="util-nav">
    <ul>
      <li><a href="">Client Login</a></li>
      <li><a href="http://blogs.entryway.net">Blog</a></li>
      <li><a href="">Careers</a></li>
    </ul>
  </div>

  <!-- main nav -->
  <div id="nav">
    <ul>
      <li><a class="active" href="index.html"><span>Home</span></a></li>
      <li><a href=""><span>About Us</span></a>
	<ul>
	  <li class="shadow"></li>
	  <li class="clear"><a href="our-story.html">our story</a></li>
	  <li><a href="our-team.html">our team</a></li>
	  <li><a href="social-responsibility.html">social responsibility</a></li>
	</ul>
      </li>
      <li><a href="our-services.html"><span>Our Services</span></a></li>
      <li><a href="our-work.html"><span>Our Work</span></a>
	<ul>
	  <li class="shadow"></li>
	  <li class="clear"><a href="">featured projects</a></li>
	  <li><a href="inside.html">case studies</a></li>
	  <li><a href="inside.html">client list</a></li>
	</ul>	
      </li>
      <li><a href="contact-us.html"><span>Contact</span></a></li>
    </ul>
  </div><!-- /main nav -->
</div><!-- /nav box -->
