
<h1>Page Within Section H1</h1>

<h2>H2 You're not looking for software - You're looking for a solution.</h2>

<p>Imagine your business systems working together seemlessly.  What if your CMS and CRS and Donor Database spoke nicely to each other.  <a href="">And what if you could see</a> reports that helped you make strategic decisions better. How about having your website contact you when you have an opportunity. Or your customers could self-service themselves. We have built many creative solutions lorem ipsum etc. How about having your website contact you when you have an opportunity. Or your customers could self-service.</p>

<!-- content photo -->
<div class="content-photo">
	<div>
	<img src="images/content-pic-sample.jpg" alt="" width="131" height="102" /></div>
</div>

<h2>Experience Level Determines Project Timeline and Success</h2>

<p>Think about it. A good stonemason knows where the best stones are, which stones stack the best, and how to approach building a wall. orem Ipseum here ferences. We are adept in a wide range of cutting edge technologies and have no investment in proprietary soft. Lorem Ipseum here ferences. We are adept in a wide range of cutting edge <a href="">technologies and have no</a> investment in proprietary software. this means that our unbiased recommendations are what is besware. this means that our unbiased recommendations are what is best for your project and budget, not our bottom line.</p>

<!-- tab box -->
<ul class="tab-box">
	<li><a class="active" href=""><span>Tab 1</span></a></li>
	<li><a href=""><span>Tab 2</span></a></li>
	<li><a href=""><span>Tab 3 which is much longer</span></a></li>
</ul>
<div class="tab-box-content"><div class="tab-box-content-inner">
	<p>Think about it. A good stonemason knows where the best stones are, which stones stack the best, and how to approach building a wall. orem Ipseum here ferences. We are adept in a wide range of cutting edge technologies and have no investment in proprietary soft. Lorem Ipseum here ferences. We are adept in a wide range of cutting edge technologies and have no investment in proprietary software. this means that our unbi</p>
</div></div>










Client List
===========

Green Label: www.greenlabel.com

  * customer ruby on rails ecommerce engine
  * store locator
  * wholesale module

Himalayan: www.himalayaninstitute.org

  * in progress: Merb based audio/video distribution application
  * in progress: Ruby, Merb, MoM, and WCF (Windows Communication
    Framework) integration effort

  * customer asp.net ecommerce engine

       * custom schedule and subscription management
       * audio/video management
       * integration with backend system

Greenling: www.greenling.com

  * custom ruby on rails delivery scheduling application
  * 1400 hour project
  * automatic payment scheduling system
  * basket scheduling, checkout, coupons, etc.

Hoosier Organic Connection: www.hoosierorganicconnection.com

  * custom ruby on rails organic delivery application
  * organic delivery application customized to their business needs

Medina Baskets: www.medinabaskets.com

  * custom ruby on rails ecommerce engine

Four Direction Batik: 4d.entryway.net

  * custom ruby on rails ecommerce engine

12 volt adapters: www.12vadapters.com

  * custom ruby on rails ecommerce engine
  * wholesale
  * shipping fulfillment integration
  * ebay integration to allow single order management

Ecosolution: www.ecosolution.com

  * asp.net product management application