<!-- Footer -->
<div id="ft">
	<div class="ft-box">
	<div class="ft-box-content clearfix">
		<a id="green-hosting-logo" href="">Green Powered Web Hosting</a>
		<a id="entryway-logo" href="">entryway</a>
		<div class="clear"></div>
		<!-- footer left -->
		<div class="ft-left">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Our Services</a></li>
				<li><a href="">Our Work</a></li>
				<li><a href="">Contact Us</a></li>	
				<li><a href="">Client Login</a></li>	
			</ul>
			
			<p class="clear">c 2008 Entryway LLC</p>
		</div><!-- /ft left -->
		
		<!-- ft right -->
		<div class="ft-right">
			<p class="name">Entryway Software Development</p>

			<p>888-595-4227<br />
			PO Box 297<br />
			Floyd, Va, 24091</p>
		</div><!-- /ft right -->
		<div class="clear"></div>
		
		
	</div>
	</div>
	
</div>
<!-- / Footer -->