<h1>EmailLeads controller, new action</h1>

<p>Edit this file in <tt>app/views/email_leads/new.html.erb</tt></p>
<p>For more information and examples of CRUD views read <a href="http://wiki.merbivore.com/howto/crud_view_example_with_merb_using_erb"> this wiki page</a>
	
	
	<h1>Article controller, new action</h1>

	<%= form_for(@email_lead, :action => resource(:email_leads) ) do %>

	  <p>
	    <%= text_field :email, :label => "email" %>
	  </p>
	  <p>
	    <%= submit "Create" %>
	  </p>
	<% end =%>

	<%= link_to 'Back', resource(:email_leads) %>

