<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link href="http://feeds.feedburner.com/entryway" rel="alternate" title="entryway software" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />  
    <link rel="stylesheet" href="/css/slideshow.css" type="text/css" media="screen" />  
    <link rel="stylesheet" href="/css/jquery.tweet.css" type="text/css" media="screen" />  
    <link rel="stylesheet" href="/css/blueprint/src/grid.css" type="text/css" media="screen, projection">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
   
    <script type="text/javascript" src="/javascripts/analytics.js"></script> 
  </head>
  <body>
      {% include header.html %}

      <div id="blog">
      <div class="intro">
        <div class="fixed-wrap">
          <h1>we share our knowledge</h1>
          <p>Whether you like it or not.</p>
          <div id="rss">
            <a href="http://feeds.feedburner.com/entryway">
              <img src="/images/blog/rss.png"></img><span> Article Feed</span>
            </a>
          </div>
          <span style="clear:both"></span>
        </div><!--fixed-wrap-->
      </div>
      <div class="fixed-wrap">
      <div class="sidebar">
        <h2>latest piece</h2>
        <h3>{{ site.posts.first.title }} </h3>
        <h4>by {{ site.posts.first.author }}</h4>
        <h5>{{ site.posts.first.date | date: '%b. %d, %Y' }}</h5>
        {% include readability.html %} <br/>
        {{ content }}
        {% include disqus.html %}
        {{ paginator.next_page }}
      </div><!--sidebar-->
      <div id="div-purple" class="divider">
      </div>
      <div class="main">
        <div class="archives">
          <h2>archives</h2>
            {% for post in site.posts %}
              <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
              <h5>{{ post.date | date: '%b. %d, %Y' }}</h5>
              <p>{{ post.content | truncate: '137' }}
                <a href="{{ post.url }}">Read More -></a>
                <h4><a href="{{ page.url }}#disqus_thread">Comments</a></h4>
              </p>
            {% endfor %}
          </div>
        </div>
      </div><!--main-->
    </div><!--process-->
    </div><!--fixed-wrap-->

      {% include footer.html %} 

      <script type="text/javascript" src="javascripts/jquery/jquery.js"></script> 
      <script type="text/javascript" src="javascripts/jquery/jquery.expander.js"></script> 
      <script type="text/javascript" src="javascripts/jquery/jquery.tweet.js"></script>
      <script type="text/javascript" src="javascripts/jquery/jquery.twitter.js"></script>
      <script type="text/javascript" src="javascripts/application.js"></script>
  </body>

</html>

