<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/internal.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/slideshow.css" type="text/css" media="screen" />  
    <link rel="stylesheet" href="/css/jquery.tweet.css" type="text/css" media="screen" />  
    <link rel="stylesheet" href="/css/blueprint/src/grid.css" type="text/css" media="screen, projection">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
   
    <script type="text/javascript" src="/javascripts/analytics.js"></script> 
  </head>
  <body>
      {% include header.html %}

      {{ content }}

      {% include footer.html %} 

      <script type="text/javascript" src="javascripts/jquery/jquery.js"></script> 
      <script type="text/javascript" src="javascripts/jquery/jquery.expander.js"></script> 
      <script type="text/javascript" src="javascripts/jquery/jquery.timers.js"></script>
      <script type="text/javascript" src="javascripts/jquery/jquery.slide.viewer.js"></script>
      <script type="text/javascript" src="javascripts/jquery.tweet.js"></script>
      <script type="text/javascript" src="javascripts/application.js"></script>
      <script type="text/javascript" src="javascripts/jquery/jquery.ui.with_slide.js"></script>
      <script type="text/javascript" src="javascripts/slider.js"></script>
      
  </body>

</html>
