<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Entryway</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="javascripts/jquery.js"></script> 
    <script type="text/javascript" src="javascripts/jquery.expander.js"></script> 
    <script type="text/javascript" src="javascripts/application.js"></script>
  <!-- Date: 2009-11-23 -->
</head>
<body>
    <div class="header">
      <div class="logo">
        <a href="/"><h1>Entryway</h1></a>
      </div>
      <div class="nav-right">
        <div class="top-nav">
          <a href="#">Login</a>
          <a href="#">Contact</a>
        </div>
       
        <div class="main-nav">
          <a class="blue" href="/services.html">SERVICES</a>
          <a class="orange" href="/portfolio.html">PORTFOLIO</a>
          <a class="red" href="/process.html">PROCESS</a>
          <a class="green" href="/about.html">ABOUT</a>
        </div>
      </div>
    </div><!--header-->

    {{ content }}

    <div class="footer">
      <ul>
        <li class="testimonials">
          <h3>Testimonials</h3>
          <h4>Assessing Parenting</h4>
          <blockquote>Curabitur placerat, dui ac feugiat commodo, turpis risus vestibulum orci, id volutpat massa mi ut mauris. Nam posuere, mi ut porta blandit, magna quam commodo turpis, et auctor sem turpis vel magna.
          </blockquote>
          <h4>Himilayan Institute</h4>
          <blockquote>Curabitur placerat, dui ac feugiat commodo, turpis risus vestibulum orci, id volutpat massa mi ut mauris. Nam posuere, mi ut porta blandit, magna quam commodo turpis, et auctor sem turpis vel magna.
          </blockquote>
          <br/>
          <h3>Floyd,VA - Where?</h3>
          <br/>
          <blockquote>Floyd is a rural community with an appreciation for rural living. Recent downtown improvements offer the possibility of a sustainable local economy with an active commercial center. This, together with the well established arts community of Floyd and emerging artisan-agriculture based businesses make for a lively sense of growth and energy.
          </blockquote>
        </li>
        <li class="twitter">
          <h3>Twitter Feed</h3>
          <img src="/images/splash/katie.jpg" alt="katie"/>
          <p>Today, I witnessed my 4 (3/4) year old chop down a 10" tree with an ax.  Then we went biking and he jumped his first ramp. Proud Mama!<p>
          <img src="/images/splash/bobby.jpg" alt="bobby"/>
          <p>logrotate your rails logs http://bit.ly/7UHgXr the other devs will thank you<p>
        <li><h3>Contact Us</h3>
          <img src="/images/logo-footer.png"/>
          <p>109 E. Main Street<br/>
          Floyd, Virginia 24091</p>
          <p>(540)745-5279</p>
          <p><a href="#">service@entryway.net</a></p>
          <h4>send us a message</h4>
          <input type="text" value="Your Name"/>
          <input type="text" value="Your Email Address"/>
          <input type="text" value="Subject"/>
          <textarea rows="4" cols="28">Message</textarea>
          <submit name="contact" value="Send"></submit>
        </li>
      </ul>
    </div><!--footer-->
</body>
</html>
